.wrapper {
	width: 960px;
	margin:  0 auto;
	padding: 60px 30px 30px 30px;
}

.form-input {
	margin: 10px 0;
	width: 400px;
	height: 60px;
}

.textarea {
	height: 200px;
}

.form__wrapper {
	border: 1px solid #000;
	padding: 20px;
	display: inline-block;
}
